th {
    position: sticky;
    text-align: center; 
    z-index: 1;
    top: 0; 
    background:#eee;
}

td {
    text-align: center; 
    /*align-items: center;*/
}

.rowname {
    text-align: left; 
}