<div class="container">
  <div class="karma-header py-2">
    Willkommen zur Teamübersicht
  </div>
  <div class="row align-items-center py-3">
    <div class="col col-md-6 col-12">
      <div class="full-width">
        <img src="assets/SVGSurvey.svg" alt="People makeing a team survey and analyzing results"
          class="rounded mx-auto d-block full-width">
      </div>
      <p class="center">Aktuell haben {{questionnaireResults?.length}} Personen teilgenommen.</p>
      <div class="center mx-auto py-3" [hidden]="questionnaireResults?.length===0">
        <a class="btn btn-primary" href="room/{{teamid}}#begin-auswertung" role="button">zur Auswertung</a>
      </div>
      <div class="center mx-auto py-3" [hidden]="questionnaireResults?.length!=0">
        <a class="btn btn-primary" href="room/{{teamid}}#invite" role="button">Team einladen</a>
      </div>
    </div>

    <div class="col col-md-6 col-12">
      <p>
        Wir haben für Dich eine Tuckman Analyse angelegt.<br /> Hier findest Du alle
        Informationen, um gemeinsam mit Deinem Team loszulegen. <br />
        Versende den Link am Ende der Seite an alle Teamitglieder, damit sie an der Analyse teilnehmen können.
        Wir speichern keine Mail-Adressen und keine Daten, daher bewahrt die Links gut auf.
        Kehre auf diese Seite zurück, um die Ergebnisse zu sehen.<br />
        Viel Spaß und vergiss nicht selbst mitzumachen!
      </p>
    </div>
  </div>
  <hr />
  <div id=begin-auswertung>
    <h3>Auswertung Tuckman Analyse</h3>
    <p>
      Team: {{room.teamName}} <br>
      <ng-container *ngIf="hasExpiry()"><br> Frist: {{room.expiresAt | date: 'dd.MM.yyyy'}}</ng-container> <br><br>
    </p>
  </div>
  <div class="row align-items-center">
    <div class="col col-md-6 col-12">
      <div class="full-width">
        <app-spiderchart [hidden]="questionnaireResults.length===0" *ngIf="spiderchartdatset.datasets"
          [dataset]="spiderchartdatset" [questions]="questions" (phase)=getphase($event)></app-spiderchart>
        <img src="assets/img/questions-welcome.svg" alt="fragezeichen fragebogen interview"
          [hidden]="questionnaireResults?.length!=0" class="rounded mx-auto d-bloc full-width">
      </div>
    </div>
    <div class="col col-md-6 col-12">
      <div *ngIf="highestPhase=='Forming'">
        <div class="align-items-center text-center">
          <h3 class="align-middle my-2">Höchste Übereinstimmung</h3>
          <div class="btn btn-blue py-2">
            <h3>Forming</h3>
          </div>
        </div>
        <p>&nbsp;</p>
        <p class="text-left align-middle my-2 fontfront">
          Die Teamanalyse hat ergeben, dass Ihr Euch in der Forming-Phase befindet. Sie gilt als Orientierungsphase. Ihr
          seid in der Kennenlernphase und wiederholt sich in jedem Teambuilding - immer wenn ein neues Mitglied
          dazukommt.</p>
      </div>

      <div *ngIf="highestPhase=='Storming'">
        <div class="align-items-center text-center">
          <h3 class="align-middle my-2">Höchste Übereinstimmung</h3>
          <div class="btn btn-blue py-2">
            <h3>Storming</h3>
          </div>
        </div>
        <p>&nbsp;</p>
        <p class="text-left align-middle my-2 fontfront">
          Die Teamanalyse hat ergeben, dass Ihr Euch in der Storming-Phase befindet. Sie gilt als Konfrontationsphase
          und zeichnet sich durch Konflikte aus. Sie ist von Stillstand geprägt. Man nennt sie auch die “Nahkampfphase”
          mit Kompetenzgerangel und verschiedenen Zielorientierungen.</p>
      </div>

      <div *ngIf="highestPhase=='Norming'">
        <div class="align-items-center text-center">
          <h3 class="align-middle my-2">Höchste Übereinstimmung</h3>
          <div class="btn btn-blue py-2">
            <h3>Norming</h3>
          </div>
          <p>&nbsp;</p>
          <p class="text-left align-middle my-2 fontfront">
            Die Teamanalyse hat ergeben, dass Ihr Euch in der Norming-Phase, auch “Übereinkommensphase” genannt,
            befindet. Eure Gemeinschaft wird gestärkt, Spannungen in Eurer Gruppe werden neutralisiert. Ihr definiert
            Normen und Strukturen. Es etablieren sich innerhalb des Teams Rollen und es entsteht eine gegenseitige
            Akzeptanz. Ihr kommuniziert zunehmend konstruktiv, Ihr gebt Euch gegenseitig Feedback und Ihr kooperiert gut
            miteinander. Ihr fühlt Euch als ein Team!</p>
        </div>

        <div *ngIf="highestPhase=='Performing'">
          <div class="align-items-center text-center">
            <h3 class="align-middle my-2">Höchste Übereinstimmung</h3>
            <div class="btn btn-blue py-2">
              <h3>Performing</h3>
            </div>
            <p>&nbsp;</p>
            <p class="text-left align-middle my-2 fontfront">
              Die Teamanalyse hat ergeben, dass Ihr Euch in der Performing-Phase befindet. Sie gilt als
              Hochleistungsphase, eine agile und konstruktive Arbeitsweise ist in Eurem Team angekommen. Ihr seid
              produktiv, effizient und arbeitet selbstständig Hand in Hand im Team. Loyalität wird bei Euch groß
              geschrieben, die jeweiligen individuellen Kompetenzen werden aktiv und zielorientiert eingesetzt. </p>
          </div>

          <p class="text-left align-middle py-2" [hidden]="questionnaireResults?.length!=0">
            Sobald Personen aus dem Team die Fragen beantwortet haben, findest Du hier die Auswertung.
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="card" [hidden]="questionnaireResults?.length===0">
    <div class="card-header handcursor" id="headingOne" (click)="expandAccordion(0)">
      <h5 class="mb-0 acc-header">
        Forming
        <img class="arrow" [ngClass]="{'expanded': accordionExpanded === 0}" src="assets/img/arrow-down-accordion.svg"
          alt="">
      </h5>
    </div>
    <div class="collapse" [ngClass]="{'show': accordionExpanded === 0}">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h5> Euer Mittelwert </h5>
            <app-dotchart *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset" dimension="Forming"
              [questions]="questions">
            </app-dotchart>
            <p></p>
          </div>
          <div class="col-md-8">
            <h5> Bedeutung</h5>
            <p> In der Orientierungsphase lernen sich die Teammitglieder kennen und sammeln erste Eindrücke
              voneinander.
              Der Umgang
              miteinander ist von höflicher Distanz geprägt. Diese Situation wiederholt sich im Teambildung sobald
              eine
              neue Person dazu kommt. Die Teammitglieder bringen verschiedene Erwartungen und Kompetenzen mit ein,
              die
              die Anderen zum Ende des Formings kennen und einzuordnen wissen. Erste Ziele und Regeln wurden
              definiert.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p></p>
            <h5>Einzelfragen<br><br></h5>
          </div>
        </div>
        <ol>
          <div class="row my-2 flex-column-reverse" *ngFor="let question of getQuestionsForCategoryId(1)">
            <div class="col-md-4">
              <app-dotchartsingle *ngIf="questionnaireResults?.length" [datasetfull]="questionnaireResults"
                id={{question.id}} [questions]="questions">
              </app-dotchartsingle>
              <br><br>
            </div>
            <div class="col-md-8">
              <li>{{question.questionString}}<br><br></li>
            </div>
          </div>
        </ol>
      </div>
    </div>
  </div>
  <div class="card" [hidden]="questionnaireResults?.length===0">
    <div class="card-header handcursor" id="headingOne" (click)="expandAccordion(1)">
      <h5 class="mb-0 acc-header">
        Storming
        <img class="arrow" [ngClass]="{'expanded': accordionExpanded === 1}" src="assets/img/arrow-down-accordion.svg"
          alt="">
      </h5>
    </div>
    <div class="collapse" [ngClass]="{'show': accordionExpanded === 1}">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h5> Euer Mittelwert </h5>
            <app-dotchart *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset" dimension="Storming"
              [questions]="questions">
            </app-dotchart>
            <br><br>
          </div>
          <div class="col-md-8">
            <h5> Bedeutung</h5>
            <p>Die Konfrontationsphase zeichnet sich durch Konflikte im Team aus. Sie ist geprägt von Stillstand,
              Widerständen durch Meinungsverschiedenheiten, Kompetenzgerangel oder verschiedener Zielorientierungen.
              Reibepunkte werden sichtbar und werden aus dem Weg geräumt. Ungeklärtheiten/Frustrationen werden
              identifiziert, Teamrollen werden definiert. Der Stillstand wird behoben und das geminsame,
              unbeschwerte
              Arbeiten beginnt.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p></p>
            <h5>Einzelfragen<br><br></h5>
          </div>
        </div>
        <ol>
          <div class="row flex-column-reverse" *ngFor="let question of getQuestionsForCategoryId(2)">
            <div class="col-md-4">
              <app-dotchartsingle *ngIf="questionnaireResults?.length" [datasetfull]="questionnaireResults"
                id={{question.id}} [questions]="questions">
              </app-dotchartsingle>
              <br><br>
            </div>
            <div class="col-md-8">
              <li>{{question.questionString}}<br><br></li>
            </div>
          </div>
        </ol>
      </div>
    </div>
  </div>

  <div class="card" [hidden]="questionnaireResults?.length===0">
    <div class="card-header handcursor" id="headingOne" (click)="expandAccordion(2)">
      <h5 class="mb-0 acc-header">
        Norming
        <img class="arrow" [ngClass]="{'expanded': accordionExpanded === 2}" src="assets/img/arrow-down-accordion.svg"
          alt="">
      </h5>
    </div>
    <div class="collapse" [ngClass]="{'show': accordionExpanded === 2}">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h5> Euer Mittelwert </h5>
            <app-dotchart *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset" dimension="Norming"
              [questions]="questions">
            </app-dotchart>
            <p></p>
          </div>
          <div class="col-md-8">
            <h5> Bedeutung</h5>
            <p>In der Normingphase, welche auch Übereinkommensphase genannt wird, werden Spannungen neutralisiert.
              Es werde Normen und Strukturen deutlich, welche durch alle Teammitglieder gelebt werden.
              Es etablieren sich Teamrollen und die Kommunikation ist verstärkt von Arbeitsthemen geprägt.
              Gemeinsam werden Arbeitsprozesse definiert. Aufkommende Probleme werden gemeinsam diskutiert, um
              Lösungen
              zu finden.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p></p>
            <h5>Einzelfragen<br><br></h5>
          </div>
        </div>
        <ol>
          <div class="row flex-column-reverse" *ngFor="let question of getQuestionsForCategoryId(3)">
            <div class="col-md-4">
              <app-dotchartsingle *ngIf="questionnaireResults?.length" [datasetfull]="questionnaireResults"
                id={{question.id}} [questions]="questions">
              </app-dotchartsingle>
              <br><br>
            </div>
            <div class="col-md-8">
              <li>{{question.questionString}} <br><br></li>
            </div>
          </div>
        </ol>
      </div>
    </div>
  </div>

  <div class="card" [hidden]="questionnaireResults?.length===0">
    <div class="card-header handcursor" id="headingOne" (click)="expandAccordion(3)">
      <h5 class="mb-0 acc-header">
        Performing
        <img class="arrow" [ngClass]="{'expanded': accordionExpanded === 3}" src="assets/img/arrow-down-accordion.svg"
          alt="">
      </h5>
    </div>
    <div class="collapse" [ngClass]="{'show': accordionExpanded === 3}">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h5> Euer Mittelwert </h5>
            <app-dotchart *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset" dimension="Performing"
              [questions]="questions">
            </app-dotchart>
            <p></p>
          </div>
          <div class="col-md-8">
            <h5> Bedeutung</h5>
            <p> Diese Phase bezeichnet man unter anderem als Arbeitsphase.
              Das Team wird produktiv, es arbeitet effizient und selbstständig.
              Es agiert im Team, denn gemeinsame Strukturen und definierte Ziele werden fokussiert.
              So wird von nun an stark wertschätzend und mit einer hohen Akzeptanz zusammengearbeitet.
              Eine kooperative Kultur des Miteinander und sich gegenseitig helfen wird etabliert.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p></p>
            <h5>Einzelfragen<br><br></h5>
          </div>
        </div>
        <ol>
          <div class="row flex-column-reverse" *ngFor="let question of getQuestionsForCategoryId(4)">
            <div class="col-md-4">
              <app-dotchartsingle *ngIf="questionnaireResults?.length" [datasetfull]="questionnaireResults"
                id={{question.id}} [questions]="questions">
              </app-dotchartsingle>
              <br><br>
            </div>
            <div class="col-md-8">
              <li>{{question.questionString}}<br><br></li>
            </div>
          </div>
        </ol>
      </div>
    </div>
  </div>
  <h4>Du möchtest den gesamten Report drucken oder als PDF abspeichern? </h4>
  <button class="btn btn-primary-invers" [useExistingCss]="true" printSectionId="print-this" ngxPrint><h5>Report drucken</h5></button>

  <div id="invite">
    <hr />
    <h3 [hidden]="questionnaireResults?.length > 0">Teilnehmer einladen</h3>
    <h3 [hidden]="questionnaireResults?.length === 0">Weitere Teilnehmer einladen</h3>
    <p>Versende den nachfolgenden Link an alle Teilnehmer:innen, sodass sie den Fragebogen beantworten können.</p>
    <div class="row">
      <div class="col col-md-8">
        <app-button-link link=placeholderforlink (link2)="oncopy($event)" [link]="getLinkForParticipants()">
        </app-button-link>
        <p style="font-size: small;">Jede:r mit diesem Link kann teilnehmen. Es ist keine Anmeldung erforderlich.
        </p>
      </div>
    </div>
    <p>Hier kannst Du den Link direkt mit Deinem E-Mail Programm an Dein Team schicken.</p>
    <div class="row">
      <div class="col col-md-8">
        <app-mail-link [link]="getLinkForParticipants()" email="enteryourmail"></app-mail-link>
        <p style="font-size: small;"> Mehrere E-Mail Adressen können durch ";" getrennt werden. <br> Es werden keine
          E-mail Adressen gespeichert. <br>Du kannst Betreff und Text vor dem Versenden bearbeiten.</p>
      </div>
    </div>
  </div>

  <hr />

  <div>
    <h3>Link zu dieser Seite</h3>
    <p>Wenn Du zu dieser Seite zurückkehren willst, um Dir die Analyse anzusehen, kannst Du nachfolgenden Link
      kopieren.
    </p>
    <app-button-link link=placeholderforlink (link2)="oncopy($event)" [link]="getLinkForResults()">
    </app-button-link>
    <p style="font-size: small;">Jeder mit diesem Link kann diese Auswertung sehen</p>
  </div>

  <hr />

  <pre>

    </pre>
</div>


<!-- printing layout block  -->

<div id="print-this" hidden>


  <!-- Footer  -->
  <div class="container-fluid divFooter">
    <div class="row py-3">
      <div class="col col-md-3">
        <img src="assets/img/karmakurier_logo_black_oneline.svg" alt="logo bw" height="20px">
      </div>
      <div class="col col-md-9">
        <div class="footerText">published under creative commons licence CC BY 4.0</div>
      </div>
    </div>
  </div>

  <!-- Page 1  -->
  <!-- Header  -->
  <div class="container-fluid divHeader">
    <div class="row py-3">
      <div class="col col-12">
        <img src="assets/img/Tuckmanlogo_papaya.svg" alt="Logo karmakurier Tuckman" height="70px">
      </div>
    </div>
  </div>

  <!-- Main landing Image-->
  <div class="container-fluid bg-image-main">
    <div class="row py-3">
      <div class="col col-md-7 py-3 mx-5">
        <p> </p>
        <h1 class="py-3">Tuckman - Phasenmodell</h1>
        <p class="py-3">Effizienz und Produktivität eines Teams hängen vom gemeinsamen Bewusstsein ab. Es ist daher
          besonderns
          hilfreich, wenn alle wissen wo man gerade steht.
        </p>
        <p class="py-3">Das Modell von Tuckman aus dem Jahre 1965 beschreibt verschiedenen Phasen des Teambuilding
          als
          Forming,
          Norming, Storming und Performing.
        </p>
        <p class="py-3">karmakurier hat in Anlehnung dazu ein Tool entwicklet, um durch Befragung eurer
          Team-Mitglieder
          die aktuelle
          Phase eurer Team- Dynamik zu zeigen. Die Visualisierung hilft euch dabei, das gemeinsames Verständnis über
          euer Team zu verstärken. Natürlich sind Teams dynamisch, daher ist es sinnvoll, die karmakurier
          Tuckman-Teamanalyse zu einem späteren Zeitpunkt zu wiederholen.
        </p>
        <p></p>
      </div>
    </div>
  </div>
  <!-- How To Anleitung-->
  <div class="container-fluid">
    <div class="row py-3 mx-5">
      <div class="col col-12 py-3">
        <h1 class="py-3">Wie verwende ich diesen Bericht</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <h2 class="py-3 text-center">im Team</h2>
        <div class="custom-counter-yellow px-3">
          <div class="py-2 fontfront">
            Seht euch das Gesamtergebnis an. Diskutiert ob diese euren Erwartungen entspricht. Was war überraschend?
            Wie habt ihr die Frage interpretiert?
          </div>
          <div class="py-2 fontfront">
            In der Gesamtauswertung gibt es Dimensionen die die Wahrnehmung unter den Teammitgliedern
            unterschiedlich
            darstellt.
          </div>
          <div class="py-2 fontfront">
            Seht euch hier die Einzelanworten an. Wo liegen die Meinungen auseinander? Überlegt wie man diese zu
            einem gemeinsamen Verständnis bringen könnte.
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <h2 class="py-3 text-center">als Initiator:in</h2>
        <div class="custom-counter-orange px-3">
          <div class="py-2 fontfront">
            Es ist ein toller Vertrauensbeweis, dass ein Team sich einer solchen Analyse stellt. Dies soll gefeiert
            werden.<br><br>
          </div>
          <div class="py-2 fontfront">
            Stelle klar, dass dies keine Wertung ist, sondern ein Schnappschuss des Teams. Diese ist
            eine Hilfestellung um sich als Team weiterzuentwickeln.
          </div>
          <div class="py-2 fontfront">
            Solltest du eine externe Moderation hinzufügen wollen, kannst du karmakurier gerne kontaktieren. Wir als
            unterstützen non-profit Initiativen gerne.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-break-clear"></div>
  <div class="page-break">&nbsp;</div>
  <!--- End of Page --->

  <!--- Page 2 --->
  <!-- Header  -->
  <div class="container-fluid divHeader">
    <div class="row py-3">
      <div class="col col-12">
        <img src="assets/img/Tuckmanlogo_papaya.svg" alt="Logo karmakurier Tuckman" height="70px">
      </div>
    </div>
  </div>

  <!-- Team Intro -->
  <div class="container-fluid bg-image-team">
    <div class="row align-items-center py-5">
      <div class="col col-md-6 col-12">
        <div class="full-width">
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="col col-md-6 col-12">
        <p>&nbsp;</p>
        <button class="btn btn-secondary mx-3 karma-button-yellow">
          <h2 class="px-3">das Team</h2>
        </button>
        <p>&nbsp;</p>
        <p class="text-left align-middle my-2 fontfront">
          Bravo, ihr wollt euch als Team euren Herausforderungen stellen, um eure Team-Dynamik auf
          eine neue Dimensionzu heben. </p>
        <p class="text-left align-middle my-2 fontfront">Insgesamt haben {{questionnaireResults?.length}} Personen
          aus
          eurem Team teilgenommen.
        </p>
        <p class="text-left align-middle my-2 fontfront" [hidden]="questionnaireResults?.length===0">
          Wir haben hier die Ergebnisse aller Antworten zusammengefasst. </p>
        <p class="text-left align-middle my-2 fontfront" [hidden]="questionnaireResults?.length!=0">
          Sobald Personen aus dem Team die Fragen beantwortet haben, findest Du hier die Auswertung.
        </p>
        <p></p>
      </div>
    </div>
  </div>
  <!-- Team Überblick -->
  <div class="container-fluid">
    <div class="row my-3 py-3 mx-5">
      <h1>Team Auswertung</h1>
    </div>

    <div class="row align-items-center">
      <div class="col col-md-2 col-12"> &nbsp;</div>
      <div class="col col-md-8 col-12">
        <div class="full-width">
          <app-spiderchart [print]="true" [hidden]="questionnaireResults.length===0" *ngIf="spiderchartdatset.datasets"
            [dataset]="spiderchartdatset" [questions]="questions">
          </app-spiderchart>
          <img src="assets/img/questions-welcome.svg" alt="fragezeichen fragebogen interview"
            [hidden]="questionnaireResults?.length!=0" class="rounded mx-auto d-bloc full-width">
        </div>
      </div>
      <div class="col col-md-2 col-12"> &nbsp;<br> </div>
    </div>

    <div class="row align-items-center" *ngIf="highestPhase=='Forming'">
      <div class="align-items-center text-center">
        <h3 class="align-middle my-2">Höchste Übereinstimmung</h3>
        <div class="btn btn-blue py-2">
          <h3>Forming</h3>
        </div>
        <p> &nbsp;</p>
        <p class="text-center align-middle my-2 fontfront">
          Die Teamanalyse hat ergeben, dass Ihr Euch in der Forming-Phase befindet. Sie gilt als Orientierungsphase.
          Ihr seid in der Kennenlernphase und wiederholt sich in jedem Teambuilding - immer wenn ein neues Mitglied
          dazukommt.</p>
      </div>
    </div>

    <div class="row align-items-center" *ngIf="highestPhase=='Storming'">
      <div class="align-items-center text-center">
        <h3 class="align-middle my-2">Höchste Übereinstimmung</h3>
        <div class="btn btn-blue py-2">
          <h3>Storming</h3>
        </div>
        <p> &nbsp;</p>
        <p class="text-center align-middle my-2 fontfront">
          Die Teamanalyse hat ergeben, dass Ihr Euch in der Storming-Phase befindet. Sie gilt als Konfrontationsphase
          und zeichnet sich durch Konflikte aus. Sie ist von Stillstand geprägt. Man nennt sie auch die
          “Nahkampfphase” mit Kompetenzgerangel und verschiedenen Zielorientierungen.</p>
      </div>
    </div>

    <div class="row align-items-center" *ngIf="highestPhase=='Norming'">
      <div class="align-items-center text-center">
        <h3 class="align-middle my-2">Höchste Übereinstimmung</h3>
        <div class="btn btn-blue py-2">
          <h3>Norming</h3>
        </div>
        <p class="text-center align-middle my-2 fontfront">
          Die Teamanalyse hat ergeben, dass Ihr Euch in der Norming-Phase, auch “Übereinkommensphase” genannt,
          befindet.
          Eure Gemeinschaft wird gestärkt, Spannungen in Eurer Gruppe werden neutralisiert. Ihr definiert Normen und
          Strukturen. Es etablieren sich innerhalb des Teams Rollen und es entsteht eine gegenseitige Akzeptanz. Ihr
          kommuniziert zunehmend konstruktiv, Ihr gebt Euch gegenseitig Feedback und Ihr kooperiert gut miteinander.
          Ihr
          fühlt Euch als ein Team!</p>
      </div>
    </div>

    <div class="row align-items-center" *ngIf="highestPhase=='Performing'">
      <div class="align-items-center text-center">
        <h3 class="align-middle my-2">Höchste Übereinstimmung</h3>
        <div class="btn btn-blue py-2">
          <h3>Performing</h3>
        </div>
        <p> &nbsp;</p>
        <p class="text-center align-middle my-2 fontfront">
          Die Teamanalyse hat ergeben, dass Ihr Euch in der Performing-Phase befindet. Sie gilt als
          Hochleistungsphase,
          eine agile und konstruktive Arbeitsweise ist in Eurem Team angekommen. Ihr seid produktiv, effizient und
          arbeitet selbstständig Hand in Hand im Team. Loyalität wird bei Euch groß geschrieben, die jeweiligen
          individuellen Kompetenzen werden aktiv und zielorientiert eingesetzt. </p>
      </div>
    </div>
  </div>


  <div class="page-break-clear"></div>
  <div class="page-break">&nbsp;</div>

  <!--- Page 3 Details Forming --->
  <!-- Header  -->
  <div class="container-fluid divHeader">
    <div class="row py-3">
      <div class="col col-12">
        <img src="assets/img/Tuckmanlogo_papaya.svg" alt="Logo karmakurier Tuckman" height="70px">
      </div>
    </div>
  </div>
  <!-- Erklärung  -->
  <div class="container-fluid bg-image-phases">
    <div class="row mx-2">
      <div class="col col-md-12 col-12">
        <h1>Forming</h1>
        <p class="text-left align-middle fontfront"><br>Das Forming gilt als Orientierungsphase. Das Team
          lernt sich kennen und sammelt erste Eindrücke. Der Umgang miteinander ist höflich.
          Diese Situation wiederholt sich sobald eine neue Person ins Team dazu kommt. Die Teammitglieder bringen
          verschiedene Erwartungen und Kompetenzen mit ein, welche die Anderen zum Ende des Formings kennen und
          einzuordnen wissen. Erste Ziele und Regeln werden definiert.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- Übersicht  -->
    <div class="row align-items-center py-3">
      <div class="col col-md-6 col-12">
        <h2>Einzelergebnis Forming</h2>
      </div>
      <div class="col col-md-3 col-12">
        <div id="circle-yellow"></div>
        <p class="frontfont px-2" id="legend">Teamscore</p>
      </div>
      <div class="col col-md-3 col-12">
        <div id="circle-blue"></div>
        <p class="frontfont px-2" id="legend">Einzelscore</p>
      </div>
    </div>
    <!---  mittelwert plot --->
    <div class="row">
      <div class="col col-md-4 col-12">&nbsp;</div>
      <div class="col col-md-4 col-12 align-items-center  durchschnitt">
        <h3 class="text-center">Durchschnitt</h3>
        <app-dotchart [print]="true" *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset"
          dimension="Forming" [questions]="questions">
        </app-dotchart>
      </div>
      <div class="col col-md-4 col-12">&nbsp;</div>
    </div>
    <p>&nbsp;</p>
    <!-- Einzelfragen  -->
    <div class="row noMarginRow" *ngFor="let question of getQuestionsForCategoryId(1)">
      <div class="col col-md-8 col-12 ">
        <div class="frontfont">{{question.questionString}}</div>
      </div>
      <div class="col col-md-1 col-12"></div>
      <div class="col col-md-3 col-12">
        <app-dotchartsingle [print]="true" *ngIf="questionnaireResults?.length" [datasetfull]="questionnaireResults"
          id={{question.id}} [questions]="questions">
        </app-dotchartsingle>
        <br><br>
      </div>

    </div>
  </div>
  <div class="page-break-clear"></div>
  <div class="page-break">&nbsp;</div>

  <!--- Page 4 Details Storming --->
  <!-- Header  -->
  <div class="container-fluid divHeader">
    <div class="row py-3">
      <div class="col col-12">
        <img src="assets/img/Tuckmanlogo_papaya.svg" alt="Logo karmakurier Tuckman" height="70px">
      </div>
    </div>
  </div>
  <!-- Erklärung  -->
  <div class="container-fluid bg-image-phases">
    <div class="row mx-2">
      <div class="col col-md-12 col-12">
        <h1>Storming</h1>
        <p class="text-left align-middle fontfront"><br>Die Konfrontationsphase zeichnet sich durch Konflikte im Team
          aus.
          Sie ist geprägt von Stillstand, Widerständen durch Meinungsverschiedenheiten, Kompetenzgerangel oder
          verschiedener Zielorientierungen. Reibepunkte werden sichtbar und werden aus dem Weg geräumt.
          Ungeklärtheiten/Frustrationen werden identifiziert, Teamrollen werden definiert. Der Stillstand wird behoben
          und das gemeinsame, unbeschwerte Arbeiten beginnt. </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- Übersicht  -->
    <div class="row align-items-center py-3">
      <div class="col col-md-6 col-12">
        <h2>Einzelergebnis Storming</h2>
      </div>
      <div class="col col-md-3 col-12">
        <div id="circle-yellow"></div>
        <p class="frontfont px-2" id="legend">Teamscore</p>
      </div>
      <div class="col col-md-3 col-12">
        <div id="circle-blue"></div>
        <p class="frontfont px-2" id="legend">Einzelscore</p>
      </div>
    </div>
    <!---  mittelwert plot --->
    <div class="row">
      <div class="col col-md-4 col-12">&nbsp;</div>
      <div class="col col-md-4 col-12 align-items-center durchschnitt">
        <h3 class="text-center">Durchschnitt</h3>
        <app-dotchart [print]="true" *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset"
          dimension="Storming" [questions]="questions">
        </app-dotchart>
      </div>
      <div class="col col-md-4 col-12">&nbsp;</div>
    </div>
    <p>&nbsp;</p>
    <!-- Einzelfragen  -->
    <div class="row noMarginRow" *ngFor="let question of getQuestionsForCategoryId(2)">
      <div class="col col-md-8 col-12 ">
        <div class="frontfont">{{question.questionString}}</div>
      </div>
      <div class="col col-md-1 col-12"></div>
      <div class="col col-md-3 col-12">
        <app-dotchartsingle [print]="true" *ngIf="questionnaireResults?.length" [datasetfull]="questionnaireResults"
          id={{question.id}} [questions]="questions">
        </app-dotchartsingle>
        <br><br>
      </div>
    </div>
  </div>
  <div class="page-break-clear"></div>
  <div class="page-break">&nbsp;</div>

  <!--- Page 5 Details Norming --->
  <!-- Header  -->
  <div class="container-fluid divHeader">
    <div class="row py-3">
      <div class="col col-12">
        <img src="assets/img/Tuckmanlogo_papaya.svg" alt="Logo karmakurier Tuckman" height="70px">
      </div>
    </div>
  </div>
  <!-- Erklärung  -->
  <div class="container-fluid bg-image-phases">
    <div class="row mx-2">
      <div class="col col-md-12 col-12">
        <h1>Norming</h1>
        <p class="text-left align-middle fontfront"><br>Die Übereinkommens- oder Organisatonsphase schließt sich in
          Gemeinschaft und Gruppenzusammenhalt. Spannungen sind neutralisiert und es gelten Normen und Strukturen die
          von jedem gelebt werden. Team Rollen haben sich etabliert, gegenseitige Akzeptanz herrscht vor und die
          Kommunikation ist von konstruktiven Feedback und Kooperation geprägt. Das WIR-Gefühl ist geboren!</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- Übersicht  -->
    <div class="row align-items-center py-3">
      <div class="col col-md-6 col-12">
        <h2>Einzelergebnis Norming</h2>
      </div>
      <div class="col col-md-3 col-12">
        <div id="circle-yellow"></div>
        <p class="frontfont px-2" id="legend">Teamscore</p>
      </div>
      <div class="col col-md-3 col-12">
        <div id="circle-blue"></div>
        <p class="frontfont px-2" id="legend">Einzelscore</p>
      </div>
    </div>
    <!---  mittelwert plot --->
    <div class="row">
      <div class="col col-md-4 col-12">&nbsp;</div>
      <div class="col col-md-4 col-12 align-items-center  durchschnitt">
        <h3 class="text-center">Durchschnitt</h3>
        <app-dotchart [print]="true" *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset"
          dimension="Norming" [questions]="questions">
        </app-dotchart>
      </div>
      <div class="col col-md-4 col-12">&nbsp;</div>
    </div>
    <p>&nbsp;</p>
    <!-- Einzelfragen  -->
    <div class="row noMarginRow" *ngFor="let question of getQuestionsForCategoryId(3)">
      <div class="col col-md-8 col-12 ">
        <div class="frontfont">{{question.questionString}}</div>
      </div>
      <div class="col col-md-1 col-12"></div>
      <div class="col col-md-3 col-12">
        <app-dotchartsingle [print]="true" *ngIf="questionnaireResults?.length" [datasetfull]="questionnaireResults"
          id={{question.id}} [questions]="questions">
        </app-dotchartsingle>
        <br><br>
      </div>

    </div>
  </div>
  <div class="page-break-clear"></div>
  <div class="page-break">&nbsp;</div>

  <!--- Page 6 Details Performing --->
  <!-- Header  -->
  <div class="container-fluid divHeader">
    <div class="row py-3">
      <div class="col col-12">
        <img src="assets/img/Tuckmanlogo_papaya.svg" alt="Logo karmakurier Tuckman" height="70px">
      </div>
    </div>
  </div>
  <!-- Erklärung  -->
  <div class="container-fluid bg-image-phases">
    <div class="row mx-2">
      <div class="col col-md-12 col-12">
        <h1>Performing</h1>
        <p class="text-left align-middle fontfront"><br>In der Höchleistungsphase arbeiten die Teammitglieder
          erfolgreich
          und entschlossen am gemeinsamen Ziel. Produktivität, Effizienz und selbständiges Arbeiten gehen Hand in Hand
          mit der Loyalität zum Team. Verschiedene Kompetenzen werden aktiv zieloreintiert eingesetzt. Ein konstruktiver
          und agiler Rahmen ist geschaffen.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- Übersicht  -->
    <div class="row align-items-center py-3">
      <div class="col col-md-6 col-12">
        <h2>Einzelergebnis Performing</h2>
      </div>
      <div class="col col-md-3 col-12">
        <div id="circle-yellow"></div>
        <p class="frontfont px-2" id="legend">Teamscore</p>
      </div>
      <div class="col col-md-3 col-12">
        <div id="circle-blue"></div>
        <p class="frontfont px-2" id="legend">Einzelscore</p>
      </div>
    </div>
    <!---  mittelwert plot --->
    <div class="row">
      <div class="col col-md-4 col-12">&nbsp;</div>
      <div class="col col-md-4 col-12 align-items-center  durchschnitt">
        <h3 class="text-center">Durchschnitt</h3>
        <app-dotchart [print]="true" *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset"
          dimension="Performing" [questions]="questions">
        </app-dotchart>
      </div>
      <div class="col col-md-4 col-12">&nbsp;</div>
    </div>
    <p>&nbsp;</p>
    <!-- Einzelfragen  -->
    <div class="row noMarginRow" *ngFor="let question of getQuestionsForCategoryId(4)">
      <div class="col col-md-8 col-12 ">
        <div class="frontfont">{{question.questionString}}</div>
      </div>
      <div class="col col-md-1 col-12"></div>
      <div class="col col-md-3 col-12">
        <app-dotchartsingle [print]="true" *ngIf="questionnaireResults?.length" [datasetfull]="questionnaireResults"
          id={{question.id}} [questions]="questions">
        </app-dotchartsingle>
        <br><br>
      </div>

    </div>
  </div>
  <div class="page-break-clear"></div>
  <div class="page-break">&nbsp;</div>

  <!--- Page 7 Ergebnis Empfehlungen --->
  <!-- Header  -->
  <div class="container-fluid divHeader">
    <div class="row py-3">
      <div class="col col-12">
        <img src="assets/img/Tuckmanlogo_papaya.svg" alt="Logo karmakurier Tuckman" height="70px">
      </div>
    </div>
  </div>
  <!-- Erklärung  -->
  <div class="container-fluid bg-image-phases" style="background-color: #FEF0EB;">
    <div class="row mx-2">
      <div class="col col-md-12 col-12">
        <h1>Wie gehe ich mit dem Ergebnis um?</h1>
        <p class="text-left align-middle fontfront"><br>Mit der vorliegenden Analyse kennst Du jetzt den aktuellen
          Stand Deines Teambuildings und hast alle Chancen, Dein Team bestmöglich zu unterstützen. Als Ziel jedes
          Teambuildings steht die Phase, in der Ihr gut harmoniert und Herausforderungen gemeinsam meistert. Doch bis
          dahin durchläuft jedes Team alle Phasen. Bitte bedenke, dass sich Veränderungen auf die aktuelle Phase
          auswirken können. Aber das ist in Ordnung! Denn Du lernst gerade, dass die harmonsiche Phase immer erreichbar
          ist. Damit Du gut dahin kommst, stehen Dir folgende Möglichkeiten zur Verfügung:
        </p>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>

  <div class="container-fluid bg-help-self">
    <div class="row">
      <div class="col col-md-8 col-12">
        <h4 class="py-3">Du schaust selbst, wie es weiter geht!</h4>
        <p class="text-left align-middle py-3 fontfront">
          Jede:r aus Deinem Team bekommt einen Link zur Gesamtauswertung und kann diese eigenverantwortlich ansehen. Du
          entscheidest, ob jedes Teammitglied die Gesamtauswertung erhält und eigenverantwortlich durchsieht. Im
          Anschluss könnt Ihr gemeinsam im Team darüber sprechen, wie Ihr weiter machen möchtet. Hierzu findest Du einen
          Link mit weiterführenden Informationen in unserer Linksammlung auf der Homepage. </p>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="container-fluid bg-help-we">
    <div class="row">
      <div class="col col-md-8 col-12">
        <h4 class="py-3">Wir schauen gemeinsam, wie es weiter geht!</h4>
        <p class="text-left align-middle py-3 fontfront">
          Du sprichst uns an und wir entscheiden gemeinsam, wie wir Dich und Dein Team stärken. In einem Gespräch
          besprechen wir Eure Herausforderungen im Team und diskutieren weitere Möglichkeiten, die Euch zur Verfügung
          stehen. Es gibt keine vorgefertigte Schablone, die Euch zum Ziel bringt - jedes Team hat individuelle
          Bedürfnisse, auf die wir eingehen können.
        </p>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>

  <div class="container-fluid bg-help-others">
    <div class="row">
      <div class="col col-md-8 col-12">
        <h4 class="py-3">Ihr erhaltet ein Coaching, um Euer Team zu stärken!</h4>
        <p class="text-left align-middle py-3 fontfront">
          Um Euer Team vor großen Herausforderungen zu schützen, könnt Ihr gemeinsam mit einem Mentor bzw. Coach in
          einem Workshop und Teambuilding Euren Weg erarbeiten. Wende Dich dafür an karmakurier für ein persönliches
          Gespräch oder suche Dir aus dem Portfolio einen Mediator/Coach. Gib uns bitte Bescheid, wir stellen den
          Kontakt gerne für Dich her.
        </p>
      </div>
    </div>
  </div>

  <div class="page-break-clear"></div>
  <div class="page-break">&nbsp;</div>

  <!--- Page 8 Details karmakurier --->
  <!-- Header  -->
  <div class="container-fluid divLastPage">
    <div class="row spacer-20">
      <div class="col col-12">
        &nbsp;
      </div>
    </div>
    <div class="container" style="background-color: #fff;">
      <div class="row py-2">
        <div class="col col-md-6 col-12">
          <ul>
            <li class="fontfront py-2">kkarmakurier hat sich zum Ziel gesetzt, gemeinnützige Organisationen in ihrer
              Wirkung zu stärken.<br></li>
            <li class="fontfront py-2">Thematisch liegt der Fokus hierbei auf sozial, ökologisch und nachhaltig
              wirksamen Initiativen.<br><br></li>
            <li class="fontfront py-2">karmakurier richtet sein Angebot daher an gemeinnützige Vereine und
              Organisationen sowie ehrenamtlich
              Tätige.</li>
          </ul>
        </div>
        <div class="col col-md-6 col-12">
          <ul>
            <li class="fontfront py-2">Wir bieten Workshops und Schulungen, um Euch bei Digitalisierung, Innovation
              und
              Zusammenarbeit zu unterstützen.</li>
            <li class="fontfront py-2">Wir sind eine Informationsplattform für Gemeinnützige zu Software, Werkzeuge
              und andere Plattformen.<br></li>
            <li class="fontfront py-2">Wir entwicklung digitale Lösungen um die Arbeit von gemeinnützigen
              Organisationen zu verbessern.<br></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row spacer-20">
      <div class="col col-12">
        &nbsp;
      </div>
    </div>
    <div class="container bg-transparent">
      <div class="row">
        <div class="col col-md-6 col-12">
          &nbsp;
        </div>
        <div class="col col-md-6 col-12">
          <h2 class="py-3">kontaktiere uns jederzeit</h2>
          <div class="py-1">
            <div id="mail"></div>
            <p class="frontfont px-2" id="iconlabel">info@karmakurier.org</p>
          </div>
          <div class="py-1">
            <div id="phone"></div>
            <p class="frontfont px-2" id="iconlabel">01717750193</p>
          </div>
          <div class="py-1">
            <div id="linkedin"></div>
            <p class="frontfont px-2" id="iconlabel">company/karmakurier</p>
          </div>
          <div class="py-1">
            <div id="facebook"></div>
            <p class="frontfont px-2" id="iconlabel">@karmakurier</p>
          </div>
          <div class="py-1">
            <div id="instagram"></div>
            <p class="frontfont px-2" id="iconlabel">@karmakurier</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>