.card {
  background: #fff;
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.card-header {
  background: #b1b1b1;
  border-radius: 10px;
  color: #fff;
}

.full-width {
  width: 100%;
}

.acc-header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.btn-primary {
  color: #57b894;
  background-color: #fff;
  border-color: #57b894;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #57b894;
  border-color: #57b894; /*set the color you want here*/
}

.arrow {          
  float: right;
}

.arrow.expanded {    
  float: right;      
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);         
}