h1,
h2, h3 {
  font-family: "Quicksand";
  font-weight: 800;
  font-size: 28pt;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 14pt;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 150%
}


p {
  font-family: "Mulish";
  font-size: 14pt;
}

.card {
  background: #fff;
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.card-header {
  background: #b1b1b1;
  border-radius: 10px;
  color: #fff;
}

.full-width {
  width: 100%;
}

.acc-header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.btn-primary {
  color: #57b894;
  background-color: #fff;
  border-color: #57b894;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #57b894;
  border-color: #57b894; /*set the color you want here*/
}


.btn-primary-invers {
  color: #fff;
  background-color: #58B893;
  border-color: #58B893;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-primary-invers:hover,
.btn-primary-invers:focus,
.btn-primary-invers:active,
.btn-primary-invers.active,
.open > .dropdown-toggle.btn-primary-invers {
  color: #fff;
  background-color: #2a916a;
  border-color: #2a916a; /*set the color you want here*/
}



.btn-green {
  color: #fff;
  background-color: #57b894;
  border-color: #57b894;
  border-radius: 100px;
  width: 180px;
}

.btn-blue {
  color: #fff;
  background-color: #2D3CB9;
  border-color: #2D3CB9;
  border-radius: 100px;
  width: 180px;
  margin-top: 20px;
}


.arrow {
  float: right;
}

.arrow.expanded {
  float: right;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.divHeader {
background-color: #fff;
}

.divLastPage{
  background-image: url("/assets/img/BackgroundLastPage.svg");
  background-repeat: no-repeat !important;
  background-position: center top;
  background-size:contain;
  height: 100%;
  -webkit-print-color-adjust: exact !important;

}

.divFooter {
  position: fixed;
  bottom: 0%;
  -webkit-print-color-adjust: exact;
  background: #FEF0EB;
}

.footerText {
  font-family: "Quicksand";
  font-size: smaller;
  font-weight: 600;
}

.bg-image-main {
  background-image: url("/assets/img/Tuckmanbackground_intro.svg");
  background-repeat: no-repeat !important;
  background-position: center top;
  background-size: 100% auto;
  -webkit-print-color-adjust: exact !important;
}

.bg-image-team {
  background-image: url("/assets/img/Tuckmanbackground_summary.svg");
  background-repeat: no-repeat !important;
  background-position: center top;
  background-size: 100% auto;
  -webkit-print-color-adjust: exact !important;
}

.bg-image-phases {
  background-image: url("/assets/img/Tuckmanbackground_phases.svg");
  background-repeat: no-repeat !important;
  background-position: center top;
  background-size: cover;
  background-color: #FEF0EB;
  -webkit-print-color-adjust: exact !important;
  min-height: 260px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.bg-help-self, .bg-help-we, .bg-help-others {
  background-repeat: no-repeat !important;
  background-position: center top;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  height: 300px;
  border-radius: 10px;
} 

.bg-help-self {background-image: url("/assets/img/bg-help-self.svg");}
.bg-help-we {background-image: url("/assets/img/bg-help-we.svg");}
.bg-help-others {background-image: url("/assets/img/bg-help-others.svg");}




.durchschnitt {
  border-radius: 15px !important;
  padding: 10 10 10 10  !important;
  border-color: #FF966E !important;
  border-width: 2px !important;
  -webkit-print-color-adjust: exact !important;
}


div.custom-counter-yellow div.custom-counter-orange {
  counter-reset: list-number;
  padding-left: 30px;
  font-size: 14pt;
  font-family: "Quicksand";
}

div.custom-counter-yellow div, div.custom-counter-orange div{
  counter-increment: list-number;
  margin-left: 50px;
}

div.custom-counter-yellow div:before, div.custom-counter-orange div:before {
  content: counter(list-number);
  -webkit-print-color-adjust: exact;
  margin-right: 10px;
  margin-bottom:0px;
  margin-left: -35px;
  width: 20px;
  height:20px;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  font-size:16px;
  border-radius:50%;
  color:#fff;
}

.circlebutton{
  -webkit-print-color-adjust: exact;
  background-color: #FF966E;
  margin-right: 10px;
  margin-bottom:0px;
  margin-left: 0px;
  width: 20px;
  height:20px;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  font-size:16px;
  border-radius:50%;
  color:#fff;
  font-family: "Quicksand";
  font-weight: 600;
}

div.fontfront{
  font-size: 14pt;
}

div.custom-counter-yellow div:before {
  background-color:#FFC539;
}

div.custom-counter-orange div:before {
  background-color:#FF966E;
}


ul {
  list-style: none; 
  margin-left: 30px;
}

ul li::before {
  content: ""; 
  -webkit-print-color-adjust: exact;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: -35px;
  width: 20px;
  height:20px;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  font-size:16px;
  border-radius:50%;
  font-size:16px;
  background-color:#58B893;
}

.karma-button-yellow {
  background: #FFC539;
  border-color: #FFC539;
  border-radius: 10px;
  min-height: 58px;
  color: #fff;
  border-radius: 25pt;
}

.karma-button-yellow:hover,
.karma-button-yellow:focus,
.karma-button-yellow:active,
.karma-button-yellow.active,
.open > .dropdown-toggle.karma-button-yellow {
  color: #fff;
  background-color: #57b894;
  border-color: #57b894; /*set the color you want here*/
}

.karma-button-green {
  background: #58B893;
  border-color: #58B893;
  border-radius: 10px;
  min-height: 58px;
  color: #fff;
  border-radius: 25pt;
}

.full-width{
  -webkit-print-color-adjust: exact;
}
@media print {
  .page-break-clear { 
    clear: both;
  }
  .page-break {
    page-break-after: always; /* depreciating, use break-after */
    break-after: page;
    height: 0px;
    display: block!important;
  }
}



#circle-yellow {
  background-color: #FFC539;
  width: 20px;
  height: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-print-color-adjust: exact;
  display: inline-block;
}


#circle-blue {
  background-color: #8C95E3;
  width: 20px;
  height: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-print-color-adjust: exact;
  display: inline-block;
}

#mail, #phone, #facebook, #linkedin, #instagram {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 30px;
  height: 40px;
  margin-left:0px;
  -webkit-print-color-adjust: exact;
  display: inline-block !important;
}

#mail {
  background-image: url("/assets/img/mail.svg");
}
#phone {
  background-image: url("/assets/img/phone.svg");
}
#facebook {
  background-image: url("/assets/img/Facebook.svg");
}
#instagram {
  background-image: url("/assets/img/instagram.svg");
}
#linkedin {
  background-image: url("/assets/img/linkedin.svg");
}



#iconlabel {
  margin-left: 5px;
  position: relative;
  top: 50%;
  display: inline-block;
  vertical-align: middle;
}

.row {
  -webkit-print-color-adjust: exact;
}
#legend {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: inline-block;
}



.spacer-20 {
  height: 16vh;
}

.spacer-30 {
  height: 24vh;
}