<h5 class="card-title">Frage {{QuestionNumber}}</h5>
<p class="card-text">{{Question.questionString}}</p>
<small>1 = stimme voll und ganz zu; 5 = stimme überhaupt nicht zu</small>

<div class="row radio-container">
    <div class="col">
        <div class="radio-label">1</div>
        <input class="form-check-input" type="radio" name={{Question.id}} id=option1{{Question.id}} [value]="1"
            [(ngModel)]="answer" aria-label="...">
    </div>
    <div class="col">
        <div class="radio-label">2</div>
        <input class="form-check-input" type="radio" name={{Question.id}} id=option1{{Question.id}} [value]="2"
            [(ngModel)]="answer" aria-label="...">
    </div>
    <div class="col">
        <div class="radio-label">3</div>
        <input class="form-check-input" type="radio" name={{Question.id}} id=option1{{Question.id}} [value]="3"
            [(ngModel)]="answer" aria-label="...">
    </div>
    <div class="col">
        <div class="radio-label">4</div>
        <input class="form-check-input" type="radio" name={{Question.id}} id=option1{{Question.id}} [value]="4"
            [(ngModel)]="answer" aria-label="...">
    </div>
    <div class="col">
        <div class="radio-label">5</div>
        <input class="form-check-input" type="radio" name={{Question.id}} id=option1{{Question.id}} [value]="5"
            [(ngModel)]="answer" aria-label="...">
    </div>
</div>
<br />


<div class="text-right">
    <a class="btn btn-primary">zurück</a>
    <a class="btn btn-primary">zur nächsten Frage</a>
</div>