<ng-container *ngIf="room">
    <div class="header-image">
        <img src="assets/img/questions-welcome.svg" class="img-fluid">
    </div>
    <div class="header-text">
        Willkommen bei der Tuckman Analyse für {{room.teamName}}
    </div>
    <div class="positive-button" (click)="start()" *ngIf="!isExpired()">
        Los geht's <img class="px-2" src="assets/img/arrow-right.svg">
    </div>

    <div class="details-box">
        <div class="my-2 row ">
        <div class="col col-md-12 font-weight-normal">
            <b>Herzlich willkommen liebes Mitglied von {{room.teamName}} <br> </b>
            <br> 
            Ihr habt Euch entschieden Euer Team unter die Lupe zu nehmen, fülle dazu bitte die folgenden 32 Fragen so ehrlich wie möglich zu Eurer Zusammenarbeit aus. <br><br>
            Es gibt hierbei kein Richtig oder Falsch. Am Ende siehst nur Du Deine eigenen Antworten. Diese speichern wir vollkommen anonym.
            <br><br>Es müssen alle Fragen beantwortet werden. Ihr könnt die Einzelfragen dann im Team diskutieren. <br><br>
            Insgesamgt dauert die Beantwortung 10 Minuten. <br>
            Viel Spaß.<br>
        </div>
    </div>
        <div class="my-2 row">
            <div class="col col-md-2">Frist:</div>
            <div class="col col-md-10" *ngIf="!hasNoExpireDate()">{{room.expiresAt | date: 'dd.MM.yyyy'}}</div>
            <div class="col col-md-10" *ngIf="hasNoExpireDate()">Keine Teilnahmefrist</div>
        </div>
        <div class="my-2 row" *ngIf="isExpired()">
            <div class="col col-md-2"></div>
            <div class="col col-md-10">Die Frist ist leider abgelaufen!</div>
        </div>
    </div>
</ng-container>

