


<ng-container *ngIf="room">
    <div class="header-image" style="margin-top: 12vh;">
        <img src="assets/img/questions-welcome.svg" class="img-fluid">
    </div>
    <div class="header-text">
        Willkommen bei der Tuckman Analyse
    </div>

    <div class="details-box">
        <div class="my-2 row ">
            <div class="col col-md-12 font-weight-normal">
                <p><b>Liebes Mitglied von {{room.teamName}}, </b></p>
                <p>
                    Ihr habt Euch entschieden Euer Team unter die Lupe zu nehmen. Fülle dazu bitte die folgenden 32
                    Fragen zu Eurer Zusammenarbeit so ehrlich wie möglich aus.
                </p>
                <p>
                    Es gibt hierbei kein Richtig oder Falsch. Am Ende siehst nur Du Deine eigenen Antworten. Diese
                    speichern wir vollkommen anonym. 
                </p>
                <p>
                    Es müssen alle Fragen beantwortet werden. Einzelfragen die vielleicht auf Euer Team nicht zutreffen könnt ihr dann im Team diskutieren.
                </p>
                <p>
                    Insgesamt dauert die Beantwortung 10 Minuten.
                </p>
                <p>
                    Viel Spaß!
                </p>
            </div>
        </div>
        <div class="my-2 row">
            <div class="col col-md-2">Frist:</div>
            <div class="col col-md-10" *ngIf="!hasNoExpireDate()">{{room.expiresAt | date: 'dd.MM.yyyy'}}</div>
            <div class="col col-md-10" *ngIf="hasNoExpireDate()">Keine Teilnahmefrist</div>
        </div>
        <div class="my-2 row" *ngIf="isExpired()">
            <div class="col col-md-2"></div>
            <div class="col col-md-10">Die Frist ist leider abgelaufen!</div>
        </div>
    </div>
    <div class="positive-button" (click)="start()" *ngIf="!isExpired()">
        Los geht's <img class="px-2" src="assets/img/arrow-right.svg">
    </div>
</ng-container>
