/* You can add global styles to this file, and also import other style files */
.handcursor {
  cursor: pointer;
}

.karma-button {
  background: #FF966E;
  border-color: #FF966E;
  border-radius: 10px;
  min-height: 58px;
}

