
<div class="container">
    <!-- TITLE PAGE #1-->
<div class="title-background">
    <div class="halfblock">
        <div class="row align-items-center">
            <div class="col col-xl-6 align-items-center mx-5 py-5">
                <p>&nbsp;</p>
                <h2 class="my-5"><br><strong>tuckman - phasenmodell</strong></h2>
                <div class="text-align-block">
                    <p>
                        Effizienz und Produktivität eines Teams hängen vom gemeinsamen Bewusstsein ab.
                        Es ist daher besonderns hilfreich, wenn alle wissen wo man gerade steht.</p>
                    <p>
                        Das Modell von Tuckman aus dem Jahre 1965 beschreibt verschiedenen Phasen des
                        Teambuilding als Forming, Norming, Storming und Performing.</p>
                    <p>
                        karmakurier hat in Anlehnung dazu ein Tool entwicklet, um durch Befragung eurer
                        Team-Mitglieder die aktuelle Phase eurer Team- Dynamik zu zeigen. Die Visualisierung
                        hilft euch dabei, das gemeinsames Verständnis über euer Team zu verstärken.
                        Natürlich sind Teams dynamisch, daher ist es sinnvoll, die karmakurier
                        Tuckman-Teamanalyse zu einem späteren Zeitpunkt zu wiederholen.
                    </p>
                </div>
            </div>
            <div class="col col-xl-6">&nbsp;</div>
        </div>
    </div>
    <div class="halfblock">
        <div class="row align-items-center">
            <div class="col col-xl-8 align-items-center mx-5">
                <h3 class="my-5"><strong><br>wie verwende ich diesen bericht </strong></h3>
            </div>
        </div>

        <div class="row">

            <div class="col col-xl-4 mx-5">
                <h4 class="my-3 center-block text-center"><strong>im team </strong></h4>
                <ol class="custom-counter-yellow">
                    <li>Seht euch das Gesamtergebnis an. Diskutiert ob diese euren Erwartungen entspricht. Was war
                        überraschend? Wie habt ihr die Frage interpretiert?</li><br>
                    <li>In der Gesamtauswertung gibt es Dimensionen die die Wahrnehmung unter den Teammitgliedern
                        unterschiedlich darstellt. </li><br>
                    <li>Seht euch hier die Einzelanworten an. Wo liegen die Meinungen auseinander? Überlegt wie man
                        diese zu
                        einem gemeinsamen Verständnis bringen könnte.</li>
                </ol>
            </div>
            <div class="col col-xl-4 mx-5">
                <h4 class="my-3 center-block text-center"><strong>als initiator</strong></h4>
                <ol class="custom-counter-orange">
                    <li>Es ist ein toller Vertrauensbeweis, dass ein Team sich einer solchen Analyse stellt. Dies soll
                        gefeiert werden.</li><br>
                    <li>Stelle klar, dass die keine Wertung ist, sondern ein aktueller Schnappschuss der Team-Dynamik.
                        Diese
                        ist eine Hilfestellung um sich als Team weiterzuentwickeln.</li><br>
                    <li>Solltest du eine externe Moderation hinzufügen wollen, kannst du karmakurier gerne kontaktieren.
                        Wir
                        als non-profit Initiative helfen gerne.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- FORMING PAGE #3-->
<p style="page-break-before:always"></p>

<div class="page-background">
    <div class="quarterblock">
        <div class="row align-items-center">
            <div class="col-xl-2"><p>&nbsp;</p></div>
            <div class="col-xl-8">                
                <h2><br><strong>details forming</strong></h2>
                <div>
                    <p>
                        Das Forming gilt auch als Orientierungsphase. Die Teammitglieder lernen sich kennen und sammeln erste Eindrücke. Der Umgang miteinander ist von höflicher Distanz geprägt. Diese Situation wiederholt sich im Teambildung sobald eine neue Person dazu kommt. 
                        Die Teammitglieder bringen verschiedene Erwartungen und Kompetenzen mit ein, die die Anderen zum Ende des Formings kennen und einzuordnen wissen. 
                        Erste Ziele und Regeln wurden definiert.</p>
                </div>
            </div>
            <div class="col-xl-2"><p>&nbsp;</p></div>
        </div>
    </div>

    <div class="halfblock">
        <div class="row align-items-center">
            <div class="col-m-8 mx-5">
                <h3><strong>einzelergebnis forming</strong></h3>
            </div>
            <div class="col-m-2">
                <p>Teamscore</p>
            </div>
            <div class="col-m-2">
                <p>Einzelscore</p>
            </div>

        </div>

        <div class="row">

            <div class="col col-xl-4 mx-5">
                <h4 class="my-3 center-block text-center"><strong>im team </strong></h4>
                <ol class="custom-counter-yellow">
                    <li>Seht euch das Gesamtergebnis an. Diskutiert ob diese euren Erwartungen entspricht. Was war
                        überraschend? Wie habt ihr die Frage interpretiert?</li><br>
                    <li>In der Gesamtauswertung gibt es Dimensionen die die Wahrnehmung unter den Teammitgliedern
                        unterschiedlich darstellt. </li><br>
                    <li>Seht euch hier die Einzelanworten an. Wo liegen die Meinungen auseinander? Überlegt wie man
                        diese zu
                        einem gemeinsamen Verständnis bringen könnte.</li>
                </ol>
            </div>
            <div class="col col-xl-4 mx-5">
                <h4 class="my-3 center-block text-center"><strong>als initiator</strong></h4>
                <ol class="custom-counter-orange">
                    <li>Es ist ein toller Vertrauensbeweis, dass ein Team sich einer solchen Analyse stellt. Dies
                        soll
                        gefeiert werden.</li><br>
                    <li>Stelle klar, dass die keine Wertung ist, sondern ein aktueller Schnappschuss der
                        Team-Dynamik. Diese
                        ist eine Hilfestellung um sich als Team weiterzuentwickeln.</li><br>
                    <li>Solltest du eine externe Moderation hinzufügen wollen, kannst du karmakurier gerne
                        kontaktieren. Wir
                        als non-profit Initiative helfen gerne.</li>
                </ol>
            </div>

        </div>
    </div>
</div>

</div>
