.karma-input {
  background: rgba(196, 196, 196, 0.28);
  border-radius: 10px;
  min-height: 58px;
}

.karma-header {
  font-size: 24px;
  line-height: 28px;
}


.card {
  background: #fff;
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.card-header {
  background: #B1B1B1;
  border-radius: 10px;
  color:#fff;
}


.acc-header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}


.karma-button {
  background: #FF966E;
  border-color: #FF966E;
  border-radius: 10px;
  min-height: 58px;
}

th, td {
  padding: 15px;
}

.btn-outline-primary {
  color: #57B894;
  background-color: #fff;
  border-color: #57B894; /*set the color you want here*/
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: #57B894;
  border-color: #57B894; /*set the color you want here*/
}




