<div class="container">
    <p>Schritt 2 von 2</p>
    <h4 class="mb-0 acc-header">
        Deine persönliche Tuckman Analyse
    </h4>
    <div class="row align-items-center">
        <div class="col-md-4">
            <app-spiderchart *ngIf="spiderchartdatset.datasets" [dataset]="spiderchartdatset"></app-spiderchart>
        </div>
        <div class="col-md-8">
            Hier zeigen wir dir wie Du gerade die Zusammenarbeit erlebst. Du kannst ableiten welche Phase gerade für
            Dich dominiert, und ob das deinen Erwartungen entspricht. Für mehr Details kannst Du Dir die Einzelnen Fragen anschauen.
        </div>
    </div>

    <div class="card">
        <div class="card-header handcursor" id="headingOne" (click)="expandAccordion(0)">
            <h5 class="mb-0 acc-header">
                Forming
                <img class="arrow" [ngClass]="{'expanded': accordionExpanded === 0}" src="assets/img/arrow-down-accordion.svg" alt="">
            </h5>
        </div>
        <div class="collapse" [ngClass]="{'show': accordionExpanded === 0}">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5> Dein Mittelwert </h5>
                        <app-dotchartsingle *ngIf="userRes" [dataset]="userRes" dimension="Forming">
                        </app-dotchartsingle>
                        <p></p>
                    </div>
                    <div class="col-md-8">
                        <h5> Bedeutung</h5>
                        <p> In der Orientierungsphase lernen sich die Teammitglieder kennen und sammeln erste Eindrücke.
                            Der Umgang miteinander ist von höflicher Distanz geprägt. Diese Situation wiederholt sich im
                            Teambildung sobald eine neue Person dazu kommt. Die Teammitglieder bringen verschiedene
                            Erwartungen und Kompetenzen mit ein, die die Anderen zum Ende des Formings kennen und
                            einzuordnen wissen. Erste Ziele und Regeln wurden definiert.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p></p>
                        <h5>Einzelfragen<br><br></h5>
                    </div>
                </div>
                <ol style="margin-left:0px">
                    <div class="row" *ngFor="let question of getQuestionsForCategoryId(1)">
                        <div class="col-md-4">
                            <app-dotchartsingle *ngIf="userRes" [dataset]="userRes" id={{question.id}}>
                            </app-dotchartsingle>
                            <br><br>
                        </div>
                        <div class="col-md-8">
                            <li>{{question.questionString}}<br><br></li>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header handcursor" id="headingOne" (click)="expandAccordion(1)">
            <h5 class="mb-0 acc-header">
                Storming
                <img class="arrow" [ngClass]="{'expanded': accordionExpanded === 1}" src="assets/img/arrow-down-accordion.svg" alt="">
            </h5>
        </div>
        <div class="collapse" [ngClass]="{'show': accordionExpanded === 1}">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5> Dein Mittelwert </h5>
                        <app-dotchartsingle *ngIf="userRes" [dataset]="userRes" dimension="Storming">
                        </app-dotchartsingle>
                        <p></p>
                    </div>
                    <div class="col-md-8">
                        <h5> Bedeutung</h5>
                        <p>Die Konfrontationsphase zeichnet sich durch Konflikte im Team aus. Sie ist geprägt von
                            Stillstand, Widerständen durch Meinungsverschiedenheiten, Kompetenzgerangel oder
                            verschiedener Zielorientierungen. Reibepunkte werden sichtbar und werden aus dem Weg
                            geräumt. Ungeklärtheiten/Frustrationen werden identifiziert, Teamrollen werden definiert.
                            Der Stillstand wird behoben und das gemeinsame, unbeschwerte Arbeiten beginnt.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p></p>
                        <h5>Einzelfragen<br><br></h5>
                    </div>
                </div>
                <ol>
                    <div class="row" *ngFor="let question of getQuestionsForCategoryId(2)">
                        <div class="col-md-4">
                            <app-dotchartsingle *ngIf="userRes" [dataset]="userRes" id={{question.id}}>
                            </app-dotchartsingle>
                            <p></p>
                        </div>
                        <div class="col-md-8">
                            <li>{{question.questionString}}<br><br></li>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header handcursor" id="headingOne" (click)="expandAccordion(2)">
            <h5 class="mb-0 acc-header">
                Norming
                <img class="arrow" [ngClass]="{'expanded': accordionExpanded === 2}" src="assets/img/arrow-down-accordion.svg" alt="">
            </h5>
        </div>
        <div class="collapse" [ngClass]="{'show': accordionExpanded === 2}">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5> Dein Mittelwert </h5>
                        <app-dotchartsingle *ngIf="userRes" [dataset]="userRes" dimension="Norming">
                        </app-dotchartsingle>
                        <p></p>
                    </div>
                    <div class="col-md-8">
                        <h5> Bedeutung</h5>
                        <p>In der Übereinkommensphase haben sich Spannungen neutralisiert und gelten Normen und
                            Strukturen die von jedem gelebt werden. Die Teamrollen haben sich etabliert und die
                            gegenseitige Akzeptanz herscht vor. ..... noch nicht fertig
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p></p>
                        <h5>Einzelfragen<br><br></h5>
                    </div>
                </div>
                <ol>
                    <div class="row" *ngFor="let question of getQuestionsForCategoryId(3)">
                        <div class="col-md-4">
                            <app-dotchartsingle *ngIf="userRes" [dataset]="userRes" id={{question.id}}>
                            </app-dotchartsingle>
                            <p></p>
                        </div>
                        <div class="col-md-8">
                            <li>{{question.questionString}}<br><br></li>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header handcursor" id="headingOne" (click)="expandAccordion(3)">
            <h5 class="mb-0 acc-header">
                Performing
                <img class="arrow" [ngClass]="{'expanded': accordionExpanded === 3}" src="assets/img/arrow-down-accordion.svg" alt="">
            </h5>
        </div>
        <div class="collapse" [ngClass]="{'show': accordionExpanded === 3}">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5> Dein Mittelwert </h5>
                        <app-dotchartsingle *ngIf="userRes" [dataset]="userRes" dimension="Performing">
                        </app-dotchartsingle>
                        <p></p>
                    </div>
                    <div class="col-md-8">
                        <h5> Bedeutung</h5>
                        <p>Diese Phase bezeichnet man unter anderem als Arbeitsphase. 
                            Das Team wird produktiv, es arbeitet effizient und selbstständig. 
                            Es agiert im Team, denn gemeinsame Strukturen und definierte Ziele werden fokussiert. 
                            So wird von nun an stark wertschätzend und mit einer hohen Akzeptanz zusammengearbeitet. 
                            Eine kooperative Kultur des miteinander und sich gegenseitig helfen wird etabliert.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p></p>
                        <h5>Einzelfragen<br><br></h5>
                    </div>
                </div>
                <ol>
                    <div class="row" *ngFor="let question of getQuestionsForCategoryId(4)">
                        <div class="col-md-4">
                            <app-dotchartsingle *ngIf="userRes" [dataset]="userRes" id={{question.id}}>
                            </app-dotchartsingle>
                            <br><br>
                        </div>
                        <div class="col-md-8">
                            <li>{{question.questionString}}<br><br></li>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>

    <!-- export funktionen      
         <div>
        <p>Was möchtest du mit deiner Auswertung tun?</p>
        <button class="btn btn-secondary" style="margin-right: 5%;" (click)="exportPDF(memberid)">PDF
            exportieren</button>
        <button class="btn btn-secondary" style="margin-right: 5%;" (click)="printPDF(memberid)">Drucken</button>
        <button class="btn btn-secondary" style="margin-right: 5%;" (click)="share(memberid)">Teilen</button>
    </div>
    -->

    <hr>

    <h4>Persönlicher Link</h4>
    <app-button-link [link]="getLinkForResults()"></app-button-link>
    <p style="font-size: x-small;">Mit diesem Link hast du wieder Zugriff auf deine persönliche Auswertung. Speicher dir
        den Link ab oder schicke ihn dir per E-Mail.</p>

    <h4>schick dir deinen persönlichen Link</h4>
    <app-mail-link [link]="getLinkForResults()" email="enteryourmail"></app-mail-link>
    <p style="font-size: x-small;">Deine E-Mail wird nicht bei uns gespeichert. Mit dieser Eingabe deiner E-Mail
        schickst du dir selbst den Link für deine persönliche Auswertung, mit welchem Du deine Ergebnisse jederzeit
        abrufen kannst.</p>
</div>