.card {
  background: #fff;
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.card-header {
  background: #B1B1B1;
  border-radius: 10px;
  color:#fff;
}

.arrow {          
  float: right;
}

.arrow.expanded {    
  float: right;      
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);         
}