<div class="container">
    <app-question-welcome *ngIf="!started" (startQuestionnaire)="questionnaireStarted()" [room]="room">
    </app-question-welcome>
    <app-question *ngIf="started && !finished" [Question]="questions[currentquestion]"
        [QuestionNumber]="currentquestion + 1" [answer]="questionnaireResult.QuestionResults[currentquestion].answer"
        [QuestionMax]="questions.length" (actionTaken)="handleAction($event)">
    </app-question>
    <app-question-finish *ngIf="finished"></app-question-finish>
</div>